<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<h1>File Uploader</h1>
<form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <select><option value="docx">docx</option>
            <option value="org">org</option>
            <option value="html">html</option></select>
    <input type="submit" value="upload" id="upload-button">
</form>
</body>
</html>